1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [16]:
stat1 = 'Mickey'
stat2 = 'Mouse'
result = []
for i in range(1,101):
    if (i%3==0 and i%5==0):
        x = stat1+stat2
        result.append(x)
        print(x)    
    elif (i%3==0):
        print(stat1)
        result.append(stat1)
    elif (i%5==0):
        print(stat2)
        result.append(stat2)
    else:
        print(i)
        result.append(i)

#Put the result in the tuple
mickey = tuple(result)

#Substitute 'Mickey Mouse' with 'Donald Duck'

for i in range(0,len(result)):
    if result[i]=='Mickey':
        result[i] = 'Donald'
    if result[i]=='Mouse':
        result[i] = 'Duck'
    if result[i] == 'MickeyMouse':
        result[i] = 'DonaldDuck'

donald = tuple(result)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [37]:
x = input('Variable x:')
y = input('Variable y:')

#With a temporary variable

def swap(x,y):
    c = x
    x = y
    y = c
    return x, y
print(swap(x,y))

#Without a temporary variable

def swap2(x,y):
    x, y = y, x
    return x, y
print(swap2(x,y))

Variable x:ee
Variable y:4
('4', 'ee')
('4', 'ee')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [27]:
u = (3,0)
v = (0,4)

def eudist(u,v):
    return ((u[0]-v[0])**2 + (u[1]-v[1])**2)**0.5
print(eudist(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [42]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()
characters = [x for x in s]

for i in range(len(characters)):
    if (i == s.find(characters[i])):
        print('Character', characters[i], 'repeats for', s.count(characters[i]), 'times')

Character w repeats for 2 times
Character r repeats for 17 times
Character i repeats for 14 times
Character t repeats for 19 times
Character e repeats for 22 times
Character   repeats for 41 times
Character a repeats for 7 times
Character p repeats for 8 times
Character o repeats for 13 times
Character g repeats for 1 times
Character m repeats for 12 times
Character h repeats for 9 times
Character n repeats for 10 times
Character s repeats for 9 times
Character u repeats for 9 times
Character b repeats for 5 times
Character f repeats for 10 times
Character 1 repeats for 2 times
Character 0 repeats for 2 times
Character . repeats for 2 times
Character l repeats for 6 times
Character c repeats for 3 times
Character k repeats for 2 times
Character y repeats for 2 times
Character d repeats for 3 times
Character v repeats for 2 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [17]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def counter(l):
    unique = ()
    n=0
    for i in range(0, len(l)):
        if (l.count(l[i]) == 1):
            #Creates a tuple of all the unique members
            unique += (l[i],)
            n +=1
    return unique, n

un, num = counter(l)

print(un)
print('Total number of unique members =', num)

(58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53)
Total number of unique members = 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [18]:

def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    s = square(x)*cube(x)
    print(s)

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [48]:
x = []
for i in range(0,11):
    x.append(i**3)
print(x)

cube = [x**3 for x in range(11)]
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [3]:
triples = ()
for a in range(0,100):
    for b in range(0,a):
        for c in range(0,b):
            if(b**2 + c**2 == a**2):
                t = (a,b,c)
                triples+=(t,)
print(triples)

((5, 4, 3), (10, 8, 6), (13, 12, 5), (15, 12, 9), (17, 15, 8), (20, 16, 12), (25, 20, 15), (25, 24, 7), (26, 24, 10), (29, 21, 20), (30, 24, 18), (34, 30, 16), (35, 28, 21), (37, 35, 12), (39, 36, 15), (40, 32, 24), (41, 40, 9), (45, 36, 27), (50, 40, 30), (50, 48, 14), (51, 45, 24), (52, 48, 20), (53, 45, 28), (55, 44, 33), (58, 42, 40), (60, 48, 36), (61, 60, 11), (65, 52, 39), (65, 56, 33), (65, 60, 25), (65, 63, 16), (68, 60, 32), (70, 56, 42), (73, 55, 48), (74, 70, 24), (75, 60, 45), (75, 72, 21), (78, 72, 30), (80, 64, 48), (82, 80, 18), (85, 68, 51), (85, 75, 40), (85, 77, 36), (85, 84, 13), (87, 63, 60), (89, 80, 39), (90, 72, 54), (91, 84, 35), (95, 76, 57), (97, 72, 65))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [50]:
a = (5, 6, 9)
def normalize(a):
    x, y, z = a
    n = (x*x + y*y + z*z)**0.5
    return (x/n, y/n, z/n)
print(normalize(a))

(0.4195906791483446, 0.5035088149780135, 0.7552632224670202)