1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
def MickeyMouse():
    for i in range(1,100):
        if i % 3 == 0 and i % 5 == 0: 
            print("MickeyMouse")
        elif i % 3 == 0:
            print("Mickey")
        elif i % 5 == 0:
            print("Mouse")
        else:
            print(i)
            
MickeyMouse()

In [1]:
def MickeyMouse2():
    a=[None]*100
    for i in range(1,101):
        if i % 3 == 0 and i % 5 == 0: 
            a[i-1]="MickeyMouse"
        elif i % 3 == 0:
            a[i-1]="Mickey"
        elif i % 5 == 0:
            a[i-1]="Mouse"
        else:
            a[i-1]=i
    return a

print (MickeyMouse2()) 
a_1= ["Donald" if x=="Mickey" else x for x in MickeyMouse2()]
a_2=["Duck" if x=="Mouse" else x for x in a_1]
a_3=["DonaldDuck" if x=="MickeyMouse" else x for x in a_2]
b=tuple(a_3)
print(b)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
a = 7
b = 15

def swap(x,y):
    temp = x
    x = y
    y = temp
    return (x,y)
    
print('after the swap, (a,b) tuple is: {}'.format(swap(a,b)))

after the swap, (a,b) is: (15, 7)

In [76]:
a = 7
b = 15

def swap2(x,y):
    x = 7
    y = 15
    x, y = y, x
    return (x,y)

print('after the swap, (a,b) tuple is: {}'.format(swap2(a,b)))

after the swap, (a,b) is: (15, 7)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
u=(3,0)
v=(0,4)
h=[7,8]
f=(1,1,1)

def distance (a, b): 
    if not (isinstance(a, tuple) and isinstance(b, tuple)):
        raise TypeError("Error: arguments must be tuples, try again")
    if (len(a) != 2 or len(b) != 2) : 
        raise ValueError("Error: arguments must be tuples containing two items,try again")                              
    else: 
        d=pow((pow(b[0]-a[0],2)+pow(b[1]-a[1],2)),1/2)
        return d

print (distance (u,v))

5.0

In [35]:
from scipy.spatial import distance
u = (3,0)
v = (0,4)
d = distance.euclidean(u, v)
print (d)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
w="w"
v=1

def mycount (t, c):
    if isinstance(t, str) and isinstance(c, str):
        d=(t.casefold()).count (c.casefold())
        return d;
    else: raise TypeError ("Error: arguments have to be (str, str), try again")

mycount (s,w)

2

In [6]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
w="w"
v=1

def mycount (t, c):
    try:
        d=(t.casefold()).count (c.casefold())
        return d;
    except: 
        print ("Error: arguments have to be (str, str), try again")

mycount (s,w)

2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [33]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

import numpy as np 
   
def myunique(a):
    x=np.unique(np.array(a))
    d = {}
    for i in x: 
        d[i] = a.count(i)
    return (x,d)
    
print ("The unique numbers are:"), 
print (myunique(l)[0]),
print ("And for each unique number the count is: 'number: count' ")
print (myunique(l)[1])

The unique numbers are:
[ 1  3  5  8  9 10 16 18 19 20 24 30 31 33 34 36 37 39 41 42 45 47 50 51
 53 54 55 56 57 58 63 64 66 70 72 74 75 79 81 82 84 85 86 87 88 89 90 91
 92 94 95 96 98 99]
And for each unique number the count is: 'number: count'
{1: 1, 3: 2, 5: 1, 8: 1, 9: 1, 10: 1, 16: 1, 18: 1, 19: 1, 20: 3, 24: 1, 30: 1, 31: 2, 33: 1, 34: 2, 36: 3, 37: 1, 39: 1, 41: 1, 42: 2, 45: 3, 47: 1, 50: 2, 51: 3, 53: 1, 54: 1, 55: 1, 56: 2, 57: 1, 58: 1, 63: 2, 64: 1, 66: 2, 70: 3, 72: 1, 74: 1, 75: 1, 79: 1, 81: 1, 82: 1, 84: 4, 85: 3, 86: 1, 87: 1, 88: 1, 89: 2, 90: 1, 91: 3, 92: 1, 94: 1, 95: 1, 96: 1, 98: 1, 99: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [40]:
def mysquare(a):
    return pow(a,2)
def mycube (a):
    return pow(a,3)
def combinedfunc (a):
    return mycube(mysquare(a))

x=13
combinedfunc(x)

4826809

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [42]:
#assuming "in [0,10]" means in [0,1,2,3,4,5,6,7,8,9,10]
l=[]
for i in range(11):
    l.append(pow(i,3))
    
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
c= [pow(x,3) for x in range(0, 11)]
print(c)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
l=[(a,b,c) for c in range(1,101) for b in range(c) for a in range(b) if c*c == a*a + b*b]
t=tuple(l)
print(t)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97), (60, 80, 100), (28, 96, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
#normalization against the sum -to ensure that the sum is always 1.0-
def normalize(a):
    b = [float(i)/sum(a) for i in a]
    c = tuple(b)
    return c;

u = (2,4,10,6,10,10)
print(normalize(u))

(0.047619047619047616, 0.09523809523809523, 0.23809523809523808, 0.14285714285714285, 0.23809523809523808, 0.23809523809523808)

In [11]:
#normalization against the maximum
def normalize2(a):
    b = [float(i)/max(a) for i in a]
    c = tuple(b)
    return c;

u = (2,4,10,6,7,10)
print(normalize2(u))

(0.2, 0.4, 1.0, 0.6, 0.7, 1.0)