1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [28]:
list = []

def MickeyMouse(num):
    
    if num%3==0 and num%5==0:
        return 'MickeyMouse'

    elif num % 3 == 0:
        return 'Mickey'

    elif num % 5==0:
        return 'Mouse'
    else:
        return num
    

for n in range(1,101):
    # print(MickeyMouse(n))

    list.append(MickeyMouse(n))

print(list)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [29]:
for i in range(0,100):
    
    if list[i] == 'MickeyMouse':
        list[i] = 'DonaldDuck'
    elif list[i] == 'Mickey':
        list[i] = 'Donald'
    elif list[i] == 'Mouse':
        list[i] = 'Duck'
print(list)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [9]:
x = "a"
y = "b"

x, y = y, x
print("x =", x)
print("y =", y)

x = b
y = a

In [18]:
#with temporary variable
x = 5
y = 10

z = x
x = y
y = z

print('x = {}'.format(x))
print('y = {}'.format(y))

x = 10
y = 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [24]:
import math

distance = math.sqrt(((u[0]-v[0])** 2)+((u[1]-v[1])** 2))
    
u=[3,0]
v=[0,4]

print(distance)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [47]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"


character_count = 0    
    
for i in s:
    if i == 'p':
        character_count = character_count + 1
    if i == 'P':
        character_count = character_count + 1


print ("Character count in string is : ")
print(character_count)

Character count in string is :
8

In [10]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
s = s.lower()
s_new = s.replace(" ","").replace(".","");

all_freq = {} 
for i in s_new: 
    if i in all_freq: 
        all_freq[i] += 1
    else: 
        all_freq[i] = 1
print(str(all_freq))

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [26]:
#List with all numbers
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#define function
def unique_num(list):
    
    #define new list
    unique_list = []

    for x in list:
        #check if already in unique_list
        if x not in unique_list:
            unique_list.append(x)
    else:
        print(unique_list)
    
    print("the number of unique values in the list is ") 
    print(len(unique_list))

(unique_num(l))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
the number of unique values in the list is
54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [116]:
def square_func(a):
    return a ** 2

print (square_func(2))

def cube_func(b):
    return b ** 3

print (cube_func(2))

def sixth_func(c):
    return square_func(cube_func(c))
    
print (sixth_func(2))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [75]:
#a) declare list
list = []
#start and end
start = 0
end = 10 
# run a loop from start to end+1 
for count in range (start, end+1) :
    list.append (count ** 3)

print(list)
    
#b) list comprehension consists of brackets 
#containing an expression followed by a for clause, 
#then zero or more for or if clauses

[x ** 3 for x in range (0,11)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [138]:
import math

triplets = [(a,b,c) for c in range(100) for b in range(1, c) for a in range(1, b) if (a**2 + b**2 == c**2)]
print(triplets)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]

In [134]:
import math

triplet = []

for b in range(100):
    for a in range(1, b):
        c = math.sqrt( a * a + b * b) 
        if c % 1 == 0 and c < 100:
            triplet.append([a, b, int(c)])
            
print(triplet)

[[3, 4, 5], [6, 8, 10], [5, 12, 13], [9, 12, 15], [8, 15, 17], [12, 16, 20], [15, 20, 25], [20, 21, 29], [7, 24, 25], [10, 24, 26], [18, 24, 30], [21, 28, 35], [16, 30, 34], [24, 32, 40], [12, 35, 37], [15, 36, 39], [27, 36, 45], [9, 40, 41], [30, 40, 50], [40, 42, 58], [33, 44, 55], [24, 45, 51], [28, 45, 53], [14, 48, 50], [20, 48, 52], [36, 48, 60], [39, 52, 65], [48, 55, 73], [33, 56, 65], [42, 56, 70], [11, 60, 61], [25, 60, 65], [32, 60, 68], [45, 60, 75], [16, 63, 65], [60, 63, 87], [48, 64, 80], [51, 68, 85], [24, 70, 74], [21, 72, 75], [30, 72, 78], [54, 72, 90], [65, 72, 97], [40, 75, 85], [57, 76, 95], [36, 77, 85], [18, 80, 82], [39, 80, 89], [13, 84, 85], [35, 84, 91]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [217]:
import math

#define function
def normalisation_func(arg):
    a_list = [(arg[i] ** 2) for i in range(len(arg))]
    r_sq = sum(a_list,0)
    r = r_sq ** (1/2)
    b_list = [arg[i]/(r) for i in range(len(arg))]
    return b_list

v = (5,6,7,8,4,2,34,5,77,9)
#x = v[0]
#y = v[1]
#z = v[2]
#r = math.sqrt(x ** 2 + y ** 2 + z ** 2)
#norm_v = (x/r, y/r, z/r)
#print(norm_v)

norm = normalisation_func(v)
print(norm)

[0.05818281835787088, 0.06981938202944506, 0.08145594570101923, 0.0930925093725934, 0.0465462546862967, 0.02327312734314835, 0.39564316483352197, 0.05818281835787088, 0.8960154027112116, 0.10472907304416758]

In [218]:
confirm = 0 
for i in range(len(b_list)):
    confirm += b_list[i] ** 2
print(confirm)

1.0