1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
x = tuple(range(1,101))
a = list(x)
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0 :
        a[i-1] = 'MickeyMouse'
    elif i % 3 == 0 :
        a[i-1] = 'Mickey'
    elif i % 5 == 0 :
        a[i-1] = 'Mouse'
        
x = tuple(a)        
print(x,'\n')

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')

In [4]:
x = tuple(range(1,101))
a = list(x)
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0 :
        a[i-1] = 'MickeyMouse'
    elif i % 3 == 0 :
        a[i-1] = 'Mickey'
    elif i % 5 == 0 :
        a[i-1] = 'Mouse'
        
x = tuple(a)
print (x,'\n')

for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0 :
        a[i-1] = 'DonaldDuck'
    elif i % 3 == 0 :
        a[i-1] = 'Donald'
    elif i % 5 == 0 :
        a[i-1] = 'Duck'
        
x= tuple(a)
print (x,'\n')

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [6]:
# with temporary variable

def swap(a,b):
    y = 0
    y = a
    a = b
    b = y
    return a,b

x1 = float(input("enter the first variable: "))
x2 = float(input("enter the second variable: "))
swap(x1,x2)

enter the first variable: 1
enter the second variable: 2

(2.0, 1.0)

In [25]:
# without temporary variable

def swap(x):
    x.reverse()
    return x

x1 = float(input("enter the first variable: "))
x2 = float(input("enter the second variable: "))
x = [x1,x2]
swap(x)

enter the first variable: 1.98
enter the second variable: 2.57

[2.57, 1.98]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [45]:
import math

def distance(u,v):
    d = math.sqrt((v[1]-u[1])**2 + (v[0]-u[0])**2)
    return d

u = tuple(input("enter the first point: "))
v = tuple(input("enter the second point: "))
x1 = list(u)
x2 = list(v)
x1 = [int(i) for i in x1]
x2 = [int(j) for j in x2]
print(distance(x1,x2))

enter the first point: 30
enter the second point: 04
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [18]:
def count(s, c) :  
    res = 0
    for i in range(len(s)) : 
        if (s[i] == c): 
            res = res + 1
    return res 
      
       
str= "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
c = input("enter the character: ")
str = str.lower()
c = c.lower()
print(count(str, c))

enter the character: w
2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [2]:
def unique_list(l):
    x = []
    flag = 0
    for a in l:
        if a not in x:
            x.append(a)
            flag += 1
    return x,flag


l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
print(unique_list(l))

([36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53], 54)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [34]:
def squar(x):
    return x*x
def cube(x):
    return x**3
def sixthpower(x):
    a = squar(x)
    print(cube(a))


x = int(input("enter x: "))
squar(x)
cube(x)
sixthpower(x)

enter x: 2
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [22]:
comprehension_list=[x*x*x for x in range(0,10)]

a_list=[]
for i in range (0,10):
    a_list.append(i*i*i)
    
print (comprehension_list)
print (a_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [4]:
def pythagoreanTriplets(limits) : 
    c, m = 0, 2
     
    while c < limits : 
           
        for n in range(1, m) : 
            a = m * m - n * n 
            b = 2 * m * n 
            c = m * m + n * n  
            
            if c > limits : 
                break
            t = (a,b,c)
            print(t)
        m = m + 1
      
limit = 99
pythagoreanTriplets(limit)

(3, 4, 5)
(8, 6, 10)
(5, 12, 13)
(15, 8, 17)
(12, 16, 20)
(7, 24, 25)
(24, 10, 26)
(21, 20, 29)
(16, 30, 34)
(9, 40, 41)
(35, 12, 37)
(32, 24, 40)
(27, 36, 45)
(20, 48, 52)
(11, 60, 61)
(48, 14, 50)
(45, 28, 53)
(40, 42, 58)
(33, 56, 65)
(24, 70, 74)
(13, 84, 85)
(63, 16, 65)
(60, 32, 68)
(55, 48, 73)
(48, 64, 80)
(39, 80, 89)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [28]:
a_list = list(input("enter the numbers: "))
a_list = [int(i) for i in a_list]
a_tuple = tuple(a_list)
minimum = min(a_list)
maximum = max(a_list)
d = maximum - minimum
normalized_list = list(map(lambda i: (i - minimum) / d, a_list ))
normalized_tuple = tuple(normalized_list)
print(normalized_tuple)

enter the numbers: 123
(0.0, 0.5, 1.0)