1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
#define the tuple
nt=()
#cycle
for i in range(1,101):
    if i%15==0:#alternatively one could use logical and
        print("MickeyMouse")
        nt=nt+("DonaldDuck",)
    elif i%3==0:
        print("Mickey")
        nt=nt+("Donald",)
    elif i%5==0:
        print("Mouse")
        nt=nt+("Duck",)
    else:
        print(i)
        nt=nt+(i,)
#print(len(nt)) checks everything worked
#print(nt)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [37]:
#definition and test
x,y=2,3
print(x)

#with temporary variable
def swap(x,y):
    t=x
    x=y
    y=t
    return x,y
    
#without temporary variable
def SWAP(x,y):
    x,y=y,x
    return x,y

def shortSWAP(x,y):
    return y,x

#final test
#x,y=swap(x,y)
#print(x)
#x,y=SWAP(x,y)
#print(x)
x,y=shortSWAP(x,y)
print(x)

2
3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [47]:
import math
#definition
def Distance(u,v):
    print(u[0],u[1],v[0],v[1])
    try:
        d=math.sqrt((u[0]-v[0])**2+(u[1]-v[1])**2)
        return d
    except:
        print ("u or v is not a tuple or does not contain numbers")

U,V=(3,0),(0,4)
distance=Distance(U,V)
print(distance)

3 0 0 4
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [16]:
S="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
#let's put everything in lowercase
s=""
for cont in range(0,len(S)):
    s=s+(S[cont].lower())
#definitions
diction={}
cont=0
#starts counting cycle
for i in range(0,len(s)):

    if not(s[cont] in diction):#if it is the first time it meets this letter (key)
        diction[s[cont]]=1 #it saves the letter as a key which value is the counting:start from 1
    elif (s[cont] in diction):#if the letter is not new, just augment the counter
        value=diction[s[cont]]
        value=value+1
        diction[s[cont]]=value
    cont=cont+1
#test
for i in diction: print (i,diction[i])

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [11]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
#more general, yet not the most efficient (every cycle I write the data and then delete it if it's already there)
#a more efficient one is to first check ifthe data is new and only then write, yet I only have lengthy ideas
#(booleans or counters on hwo to do it)
def Once(l):
    v=[]
    for i in range(0,len(l)):
        v.append(l[i]) #add the element
        if len(v)>1 :
            for j in range(0,len(v)-1):
                if v[j]==l[i]:  #delete element if already there
                    v.pop()
                    break
    return v
List=Once(l)
print(List)
#to count the unique numbers, just use len(List)

#since they are number, one could also use l.sort() and just check if the number before the index studied is the same
#as the one pointed by the index and if so, delete it from l or nor rewrite it in the new list

[1, 3, 3, 5, 8, 9, 10, 16, 18, 19, 20, 20, 20, 24, 30, 31, 31, 33, 34, 34, 36, 36, 36, 37, 39, 41, 42, 42, 45, 45, 45, 47, 50, 50, 51, 51, 51, 53, 54, 55, 56, 56, 57, 58, 63, 63, 64, 66, 66, 70, 70, 70, 72, 74, 75, 79, 81, 82, 84, 84, 84, 84, 85, 85, 85, 86, 87, 88, 89, 89, 90, 91, 91, 91, 92, 94, 95, 96, 98, 99]
[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:
def Square(x):
    try:
        y=x**2
        return y
    except:
        print("x is not a number")

def Cube(x):
     try:
        y=x**3
        return y
     except:
        print("x is not a number")

        
def Sixth(x):
    try:
        y=Square(x)
        z=Cube(y)
        return z
    except:
        print("x is not a number")
        
print(Sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [17]:
#a) with loop
cubi = []

for n in range(10):
    cubi.append(n**2)

#b) with list comprehension
CUBES= [n**2 for n in range(10)]

print(cubi)
print(CUBES)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [27]:
import math
#without double counting
#if we wanted to consider double counting (i.e. (3,4,5) as well as (4,3,5) in the tuple) we just have to start
#the second for from 1 instead of x
orderedtryplets=()
for x in range(1,100):
    for y in range(x,100):
        c=math.sqrt(x**2+y**2)
        if (c<100 and c%1==0):
            orderedtryplets=orderedtryplets+(x,y,c,"#")#I added # to make the output more readable
            
print(orderedtryplets)
#one could also use a nested list comprehension,
tryples=([(a,b,math.sqrt(a**2+b**2)) for a in range(1,100) for b in range(1,100) if (math.sqrt(a**2+b**2)%1==0 and math.sqrt(a**2+b**2)<100 and a<b)])

for i in tryples:
    print(i)

(3, 4, 5.0, '#', 5, 12, 13.0, '#', 6, 8, 10.0, '#', 7, 24, 25.0, '#', 8, 15, 17.0, '#', 9, 12, 15.0, '#', 9, 40, 41.0, '#', 10, 24, 26.0, '#', 11, 60, 61.0, '#', 12, 16, 20.0, '#', 12, 35, 37.0, '#', 13, 84, 85.0, '#', 14, 48, 50.0, '#', 15, 20, 25.0, '#', 15, 36, 39.0, '#', 16, 30, 34.0, '#', 16, 63, 65.0, '#', 18, 24, 30.0, '#', 18, 80, 82.0, '#', 20, 21, 29.0, '#', 20, 48, 52.0, '#', 21, 28, 35.0, '#', 21, 72, 75.0, '#', 24, 32, 40.0, '#', 24, 45, 51.0, '#', 24, 70, 74.0, '#', 25, 60, 65.0, '#', 27, 36, 45.0, '#', 28, 45, 53.0, '#', 30, 40, 50.0, '#', 30, 72, 78.0, '#', 32, 60, 68.0, '#', 33, 44, 55.0, '#', 33, 56, 65.0, '#', 35, 84, 91.0, '#', 36, 48, 60.0, '#', 36, 77, 85.0, '#', 39, 52, 65.0, '#', 39, 80, 89.0, '#', 40, 42, 58.0, '#', 40, 75, 85.0, '#', 42, 56, 70.0, '#', 45, 60, 75.0, '#', 48, 55, 73.0, '#', 48, 64, 80.0, '#', 51, 68, 85.0, '#', 54, 72, 90.0, '#', 57, 76, 95.0, '#', 60, 63, 87.0, '#', 65, 72, 97.0, '#')
(3, 4, 5.0)
(5, 12, 13.0)
(6, 8, 10.0)
(7, 24, 25.0)
(8, 15, 17.0)
(9, 12, 15.0)
(9, 40, 41.0)
(10, 24, 26.0)
(11, 60, 61.0)
(12, 16, 20.0)
(12, 35, 37.0)
(13, 84, 85.0)
(14, 48, 50.0)
(15, 20, 25.0)
(15, 36, 39.0)
(16, 30, 34.0)
(16, 63, 65.0)
(18, 24, 30.0)
(18, 80, 82.0)
(20, 21, 29.0)
(20, 48, 52.0)
(21, 28, 35.0)
(21, 72, 75.0)
(24, 32, 40.0)
(24, 45, 51.0)
(24, 70, 74.0)
(25, 60, 65.0)
(27, 36, 45.0)
(28, 45, 53.0)
(30, 40, 50.0)
(30, 72, 78.0)
(32, 60, 68.0)
(33, 44, 55.0)
(33, 56, 65.0)
(35, 84, 91.0)
(36, 48, 60.0)
(36, 77, 85.0)
(39, 52, 65.0)
(39, 80, 89.0)
(40, 42, 58.0)
(40, 75, 85.0)
(42, 56, 70.0)
(45, 60, 75.0)
(48, 55, 73.0)
(48, 64, 80.0)
(51, 68, 85.0)
(54, 72, 90.0)
(57, 76, 95.0)
(60, 63, 87.0)
(65, 72, 97.0)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
import math

def Normalitation(tp):
    normtp=()
    sum=0
    for i in range(0,len(tp)):
        sum=sum+tp[i]**2
    norm=math.sqrt(sum)
    for i in range(0,len(tp)):
        normtp=normtp+(tp[i]/norm,)
    return normtp
tp=(2,0)
vect=Normalitation(tp)
print(vect)

(1.0, 0.0)