1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [2]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

# Exercise 1

### a)

In [3]:
# I am commenting out the print statements to avoid spamming 100 lines of strings.

i=0
list = []
while i<101:        # run lasts until i=100.
    list.append(i)
    if i%3 == 0:    #check 
#        print("Mickey")
        list[i] = "Mickey"
        if i%5 == 0:
#            print("MickeyMouse")
            list[i] = ("MickeyMouse")
    elif i%5 == 0:
#        print("Mouse")
        list[i] = "Mouse"
    i+=1
print(list)

['MickeyMouse', 1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

### b)

In [4]:
new_list = ["DonaldDuck" if b == "MickeyMouse" else "Donald" if b == "Mickey" else "Duck" if b == "Mouse" else b for b in list] #list comprehension creates a new_list based on the values stored in list.
print(new_list)

['DonaldDuck', 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

# Exercise 2

In [5]:
def swappity_swap(x, y):
    print(x +" , "+y)
    x_new=y
    y_new=x
    print(x_new+" , "+y_new)

x = "anything you'd like" #this can be changed to be any type of object.
y = "something else" #same goes for this.
swappity_swap(x, y)

anything you'd like , something else
something else , anything you'd like

# Exercise 3

In [6]:
def distance(u,v):
    return ((u[0]-v[0])**2+(u[1]-v[1])**2)**(1/2)

u = 0, 0
v = 1, 1

distance(u,v)

1.4142135623730951

# Exercise 4

In [7]:
# I will write a function that takes a letter as input and outputs the number of times that letter occurs in a string (namely the string s above.)

def count_letter(s, letter):
    s_lower = s.lower()
    s_upper = s.upper()
    if letter.isupper() == True:
        return s_upper.count(letter)
    elif letter.islower() == True:
        return s_lower.count(letter)

# The if-statement makes sure that no matter if the input is upper- or lower-case, the function will always count correctly.

letter = "" #change the letter to anything else.
count_letter(s, letter)

# Exercise 5

In [11]:
uniques = []
for i in range(0,len(l)): # goes over each value in l
    for j in range(0,len(l)): # on the i-th value in l, compare all other values in l
        if l[i] == l[j]: # this condition implies l[i] is not unique
            if i == j: # unless we're comparing l[i] to itself, in which case we carry on the loop.
                continue
            else:
                break # break the j-loop in case l[i] is equal to some other value l[j] in l.
    uniques.append(l[i]) # if the j-loop runs all the way without finding any repeats, it means l[i] is unique in l.
print(uniques)
print("There are {} uniques".format(len(uniques)))

[36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
There are 80 uniques

# Exercise 6

In [9]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth_power(x):
    return cube(square(x)) # order doesn't matter since (x^2)^3 = (x^3)^2

sixth_power(5) # using x=5

15625

# Exercise 7

In [10]:
# part a) for-loop
cubes_1 = []

for x in range(0,11):
    cubes_1.append(x**3)

# part b) list comprehension

cubes_2 = [x**3 for x in range(0,11)]

In [11]:
print(cubes_1)
print(cubes_2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Exercise 8

In [14]:
triples = [(a, b, c) for c in range(0,100) for a in range(0,c) for b in range(a,c) if a**2+b**2 == c**2]

print(triples)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (7, 24, 25), (15, 20, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (14, 48, 50), (30, 40, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (16, 63, 65), (25, 60, 65), (33, 56, 65), (39, 52, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (21, 72, 75), (45, 60, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (13, 84, 85), (36, 77, 85), (40, 75, 85), (51, 68, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]

# Exercise 9

In [12]:
def normalize(u):
    dot_prod = 0  # create an object for the "scalar product" of the tuple with itself
    
    u_squared = [u[i]**2 for i in range(len(u))] # square the "components"

    for i in range(len(u)):
        dot_prod += u_squared[i] # sum up the squared components to make up the scalar product.
        
    length_u = dot_prod**(1/2) # compute the length which is sqrt(dot product).
    norm = tuple([u[i]/length_u for i in range(len(u))]) # create the normalized tuple from the original tuple.
    return norm

u = (1, 1, 1, 2, 3, 1, 2, 3, 4, 8, 16, 20)

u_norm = normalize(u)
print(u_norm)

(0.036131468676496206, 0.036131468676496206, 0.036131468676496206, 0.07226293735299241, 0.10839440602948863, 0.036131468676496206, 0.07226293735299241, 0.10839440602948863, 0.14452587470598482, 0.28905174941196965, 0.5781034988239393, 0.7226293735299242)

In [13]:
# this cell is to test whether the length of u_norm is indeed 1:

proof = 0
for i in range(len(u_norm)):
        proof += u_norm[i]**2
        
print(proof)

1.0