1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [53]:
#creo una lista e la converto in tupla alla fine
t= "Mickey"
s= "Mouse"


lista = []
for i in range(1,101):
    if(i%3==0) and (i%5==0):  lista.append(t+s)#,print(t,s)
    elif (i%3==0 and i%5!=0):  lista.append(t) #,print(t)
    elif (i%3!=0 and i%5==0):  lista.append(s)#,print(s)
    else:  lista.append(i)#, print(i)
        
a ="Donald"
b ="Duck"

for i in range(0,100):
    if lista[i]==t: lista[i]=a
    elif lista[i]==s: lista[i]=b
    elif lista[i]==t+s: lista[i]= a+b
    else: lista[i]=lista[i]


tupleMM = tuple(lista)
print(tupleMM)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [10]:
#swap with a temporary variable (s)
a=input("Inserire a: ")
b=input("Inserire b: ")

print(a,b)

s = a
a = b
b = s
print(a,b)

#swap without a temporary variable
x=input("Inserire x: ")
y=input("Inserire y: ")

print(x,y)

(x,y)=(y,x)
print(x,y)

Inserire a: 10
Inserire b: 4
10 4
4 10
Inserire x: 10
Inserire y: 4
10 4
4 10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [12]:
#definisco le due tuple u,v
(a,b)=input("Inserire le 2 coordinate del vettore u: ").split(',')
(c,d)=input("Inserire le 2 coordinate del vettore v: ").split(',')

#warnong: con 'input' creo delle variabili stringhe. e per fare operazioni devo trasformarle in int

distance=pow(pow(int(a)-int(c),2)+pow(int(b)-int(d),2),0.5)
print(distance)

Inserire le 2 coordinate del vettore u: 4,3
Inserire le 2 coordinate del vettore v: 6,7
4.47213595499958

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [13]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

t=input("Inserire il carattere da ricercare: ")
numero=0

for i in range (0,len(s)):
    if(s[i]==t) or (s[i]==t.upper()) or (s[i]==t.lower()): numero += 1
    else: numero += 0
print(numero)

Inserire il carattere da ricercare: i
14

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [14]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def func():
    s=0
    for i in range(0,len(l)):
        c=l.count(l[i])
        if(c==1): s+=1
        else:  s+=0
    print(s)
        
func()

37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:
def square(x):
    return(pow(x,2))

def cube(x):
    return(pow(x,3))

def all(x):
    return(square(cube(x)))

all(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [16]:
#ciclo for
cubi=[]
for i in range(0,10):
    cubi.append(i**3)
    
print(cubi)

#comprehension
terza=[x**3 for x in range(0,10)]
print(terza)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [17]:
def func(x,y):
    t=x**2+y**2
    c=pow(t,0.5)
    if c/round(c)==1: return(round(c))
    else: return(200)


terne=[(a,b,func(a,b)) for a in range(1,100) for b in range(1,100) if b>a if func(a,b)<100]
#print(terne)

tuplaterne = tuple(terne)
print(tuplaterne)

#così ho trovato le terne pitagoriche primitive e derivate fino a c<100

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [18]:
#creo una funzione che normalizza gli elementi in modo che la loro somma sia 1
def normalizza(t):
    if isinstance(t, tuple):
        s=[x for x in t]
        n=0
        for i in range(0,len(s)): n+=(s[i])
        for i in range(0,len(s)):
            s[i]=s[i]/n
        tupla=tuple(s)
        
        return(tupla)
    else: print("Errore: è necessario inserire una tupla!")

a=3
numeri=(2,2,4)
normalizza(a)

Errore: è necessario inserire una tupla!