1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
# solution of a)

l = []
for i in range(100):
    if ((i+1) % 3 == 0 and (i+1) % 5 == 0):
        l.append("MickeyMouse")
    elif ((i+1) % 3 == 0):
        l.append("Mickey")
    elif ((i+1) % 5 == 0):
        l.append("Mouse")
    else:
        l.append(i+1)
        
print(l)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [2]:
# solution of b)

for pos, element in enumerate(l):
    if (type(element) is not int):
        if (element == "Mickey"):
            l[pos] = "Donald"
        elif (element == "Mouse"):
            l[pos] = "Duck"
        else:
            l[pos] = "DonaldDuck"
           
final_result = tuple(l)
print(final_result)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
# with a temporary variable
def swap_temp(x,y):
    temp = x
    x = y
    y = temp
    return x, y


# without a temporary variable
def swap(x,y):
    x, y = y, x
    return x, y

# example
x, y = 5, "d"
print(x,y)
x, y = swap(x,y)
print(x,y)

5 d
d 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
def euclidian_dist(u,v):
    return ((u[0]-v[0])**2 + (u[1]-v[1])**2)**(1/2)

# example
u, v = (3, 0), (0, 4)
print(euclidian_dist(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

# example
occurs = []
diff_elements = set(s.lower())
for pos, element in enumerate(diff_elements):
    occurs.append(s.lower().count(element))
    print("'"+element+"' -> "+str(occurs[pos]))

'1' -> 2
'r' -> 17
'd' -> 3
'a' -> 7
's' -> 9
'b' -> 5
'h' -> 9
'p' -> 8
'0' -> 2
'g' -> 1
'o' -> 13
't' -> 19
'e' -> 22
' ' -> 41
'k' -> 2
'i' -> 14
'l' -> 6
'n' -> 10
'w' -> 2
'y' -> 2
'v' -> 2
'.' -> 2
'u' -> 9
'c' -> 3
'f' -> 10
'm' -> 12

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_and_count(l):
    occurs = []
    diff_elements = list(set(l))
    for element in diff_elements:
        occurs.append(l.count(element))
    return diff_elements, occurs

# example
unique_val, occurs = unique_and_count(l)
for el in range(len(unique_val)):
    print("'"+str(unique_val[el])+"' -> "+str(occurs[el]))

'1' -> 1
'3' -> 2
'5' -> 1
'8' -> 1
'9' -> 1
'10' -> 1
'16' -> 1
'18' -> 1
'19' -> 1
'20' -> 3
'24' -> 1
'30' -> 1
'31' -> 2
'33' -> 1
'34' -> 2
'36' -> 3
'37' -> 1
'39' -> 1
'41' -> 1
'42' -> 2
'45' -> 3
'47' -> 1
'50' -> 2
'51' -> 3
'53' -> 1
'54' -> 1
'55' -> 1
'56' -> 2
'57' -> 1
'58' -> 1
'63' -> 2
'64' -> 1
'66' -> 2
'70' -> 3
'72' -> 1
'74' -> 1
'75' -> 1
'79' -> 1
'81' -> 1
'82' -> 1
'84' -> 4
'85' -> 3
'86' -> 1
'87' -> 1
'88' -> 1
'89' -> 2
'90' -> 1
'91' -> 3
'92' -> 1
'94' -> 1
'95' -> 1
'96' -> 1
'98' -> 1
'99' -> 1

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def square(x):
    return x**2

def cube(x):
    return x**3

def pow_6th(x):
    return square(cube(x))

# example
x = 2
print(pow_6th(x))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
# solution of a)

cubes = []
for x in range(11):
    cubes.append(x**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [9]:
# solution of b)

cubes = [x**3 for x in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
def verify_not_multiple(x,y,z,tups):
    if len(tups) == 0:
        return True
    for i in range(len(tups)):
        if (x % tups[i][0] == 0):
            q = (x / tups[i][0])
            if (y % q == 0) and (z % q == 0):
                return False
    return True

def gen_pythagorean_triple(LIMIT=100):
    tuples = []
    for a in range(1,LIMIT):
        for b in range(a,LIMIT-1):
            c = (a**2 + b**2)**(1/2)
            if (c.is_integer() and (c < 100) and verify_not_multiple(a,b,int(c),tuples)):
                tuples.append((a, b, int(c)))
    return tuples

# example
tups = gen_pythagorean_triple()
for el in tups:
    print(el)

(3, 4, 5)
(5, 12, 13)
(7, 24, 25)
(8, 15, 17)
(9, 40, 41)
(11, 60, 61)
(12, 35, 37)
(13, 84, 85)
(16, 63, 65)
(20, 21, 29)
(28, 45, 53)
(33, 56, 65)
(36, 77, 85)
(39, 80, 89)
(48, 55, 73)
(65, 72, 97)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
def norm(tup):
    l = list(tup)
    s = sum(l)
    l = [x/s for x in l]
    return tuple(l)

# example
t = (3,3,3)
print(norm(t))

(0.3333333333333333, 0.3333333333333333, 0.3333333333333333)