# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [4]:
from string import ascii_lowercase as letters
#me begin: data frame can imagine as an excel table
#first row:label
#you can also label the columns e.g. with time
#a single column is a series: series is a generalization of a 
#numpy array, they have an index and we can label the index
#e.g. through time
#me: end
# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print(xs[3])
#you can access element of multiiple indeces
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

1.5
<class 'pandas.core.series.Series'>

In [5]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [6]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)# creating series from dictionary just passing 
#the dictionary to the constructor

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [7]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a   -1.565374
b    0.615976
c    0.273048
d   -0.489001
e   -0.827010
dtype: float64
a         NaN
b    1.231952
c    0.546096
d   -0.978002
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [8]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [9]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 1970
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [11]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-09-11':'2020-09-13'], '\n') # Note - includes end time

2020-09-11 14:45:00     9.819116
2020-09-12 14:45:00    12.123285
2020-09-13 14:45:00     8.932744
2020-09-14 14:45:00     8.809937
Freq: D, dtype: float64

2020-09-11 14:45:00     9.819116
2020-09-12 14:45:00    12.123285
2020-09-13 14:45:00     8.932744
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [12]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [16]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
#we fill up randomly 4 features called A,B,C,D with a np array 10*4
df #nice formatting
#print(df) #worst formatting

                            A         B         C         D
2020-11-09 14:45:00 -0.776130 -0.282279  0.181719 -0.680074
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075 -0.680583
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -1.076337
2020-11-09 17:45:00  0.113929 -1.066297  0.301697  0.284133
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168 -0.135711
2020-11-09 19:45:00  0.555641  0.750207  0.386017 -2.282655
2020-11-09 20:45:00 -0.202457  0.699767  0.226405 -2.701367
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  0.288779
2020-11-09 22:45:00  0.473120 -0.175123 -1.341153 -0.416953
2020-11-09 23:45:00  1.497419  1.378074  1.485108 -1.272701

or by means of a dictionary:

In [17]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
#the keys of the dictionaries are the labels
#what comes after is the column, so e.g. when we have 1. the column 
#labelled with A will be filled with 4 in all its extent
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [21]:
df.head(1)
df.head()

                            A         B         C         D
2020-11-09 14:45:00 -0.776130 -0.282279  0.181719 -0.680074
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075 -0.680583
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -1.076337
2020-11-09 17:45:00  0.113929 -1.066297  0.301697  0.284133
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168 -0.135711

In [19]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00 -0.202457  0.699767  0.226405 -2.701367
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  0.288779
2020-11-09 22:45:00  0.473120 -0.175123 -1.341153 -0.416953
2020-11-09 23:45:00  1.497419  1.378074  1.485108 -1.272701

In [22]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.values

array([[-0.77613012, -0.28227907,  0.18171894, -0.6800741 ],
       [ 0.30665423, -0.92851777, -0.3130754 , -0.68058278],
       [-1.11700621, -0.501348  , -0.81464456, -1.0763365 ],
       [ 0.11392884, -1.06629665,  0.30169701,  0.2841326 ],
       [-0.29382218, -0.2026514 , -0.51816816, -0.13571101],
       [ 0.5556414 ,  0.75020703,  0.38601652, -2.28265455],
       [-0.20245721,  0.69976711,  0.22640509, -2.70136733],
       [ 0.00377771,  0.05976938, -1.14671249,  0.28877922],
       [ 0.47312035, -0.17512272, -1.34115295, -0.41695347],
       [ 1.4974186 ,  1.37807387,  1.48510837, -1.27270113]])

In [25]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.056113  -0.026840  -0.155281  -0.867347
std     0.732408   0.770991   0.845415   1.002516
min    -1.117006  -1.066297  -1.341153  -2.701367
25%    -0.270981  -0.446581  -0.740525  -1.223610
50%     0.058853  -0.188887  -0.065678  -0.680328
75%     0.431504   0.539768   0.282874  -0.206022
max     1.497419   1.378074   1.485108   0.288779

In [26]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,-0.776130,0.306654,-1.117006,0.113929,-0.293822,0.555641,-0.202457,0.003778,0.473120,1.497419
B,-0.282279,-0.928518,-0.501348,-1.066297,-0.202651,0.750207,0.699767,0.059769,-0.175123,1.378074
C,0.181719,-0.313075,-0.814645,0.301697,-0.518168,0.386017,0.226405,-1.146712,-1.341153,1.485108
D,-0.680074,-0.680583,-1.076337,0.284133,-0.135711,-2.282655,-2.701367,0.288779,-0.416953,-1.272701

In [29]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00 -0.680074  0.181719 -0.282279 -0.776130
2020-11-09 15:45:00 -0.680583 -0.313075 -0.928518  0.306654
2020-11-09 16:45:00 -1.076337 -0.814645 -0.501348 -1.117006
2020-11-09 17:45:00  0.284133  0.301697 -1.066297  0.113929
2020-11-09 18:45:00 -0.135711 -0.518168 -0.202651 -0.293822
2020-11-09 19:45:00 -2.282655  0.386017  0.750207  0.555641
2020-11-09 20:45:00 -2.701367  0.226405  0.699767 -0.202457
2020-11-09 21:45:00  0.288779 -1.146712  0.059769  0.003778
2020-11-09 22:45:00 -0.416953 -1.341153 -0.175123  0.473120
2020-11-09 23:45:00 -1.272701  1.485108  1.378074  1.497419

In [30]:
df.sort_values(by="C")
#C is the value we sorted and all the other values got sorted accordingly

                            A         B         C         D
2020-11-09 22:45:00  0.473120 -0.175123 -1.341153 -0.416953
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  0.288779
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -1.076337
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168 -0.135711
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075 -0.680583
2020-11-09 14:45:00 -0.776130 -0.282279  0.181719 -0.680074
2020-11-09 20:45:00 -0.202457  0.699767  0.226405 -2.701367
2020-11-09 17:45:00  0.113929 -1.066297  0.301697  0.284133
2020-11-09 19:45:00  0.555641  0.750207  0.386017 -2.282655
2020-11-09 23:45:00  1.497419  1.378074  1.485108 -1.272701

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [31]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
#it isn't recommended
print (df.A)

2020-11-09 14:45:00   -0.776130
2020-11-09 15:45:00    0.306654
2020-11-09 16:45:00   -1.117006
2020-11-09 17:45:00    0.113929
2020-11-09 18:45:00   -0.293822
2020-11-09 19:45:00    0.555641
2020-11-09 20:45:00   -0.202457
2020-11-09 21:45:00    0.003778
2020-11-09 22:45:00    0.473120
2020-11-09 23:45:00    1.497419
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00   -0.776130
2020-11-09 15:45:00    0.306654
2020-11-09 16:45:00   -1.117006
2020-11-09 17:45:00    0.113929
2020-11-09 18:45:00   -0.293822
2020-11-09 19:45:00    0.555641
2020-11-09 20:45:00   -0.202457
2020-11-09 21:45:00    0.003778
2020-11-09 22:45:00    0.473120
2020-11-09 23:45:00    1.497419
Freq: H, Name: A, dtype: float64

In [32]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00 -0.776130 -0.282279  0.181719 -0.680074
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075 -0.680583
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -1.076337
                            A         B         C         D
2020-11-09 14:45:00 -0.776130 -0.282279  0.181719 -0.680074
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075 -0.680583
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -1.076337

### Selection by label

In [33]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]
#dates[0] is the forst index
#loc is not really a proper method since it uses [] and not ()

A   -0.776130
B   -0.282279
C    0.181719
D   -0.680074
Name: 2020-11-09 14:45:00, dtype: float64

In [37]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
a=df.loc[:,['A','B']]
#!!!!!!!!!! cuidado: loc returns a copy, iloc return a view

                            A         B
2020-11-09 14:45:00 -0.776130 -0.282279
2020-11-09 15:45:00  0.306654 -0.928518
2020-11-09 16:45:00 -1.117006 -0.501348
2020-11-09 17:45:00  0.113929 -1.066297
2020-11-09 18:45:00 -0.293822 -0.202651
2020-11-09 19:45:00  0.555641  0.750207
2020-11-09 20:45:00 -0.202457  0.699767
2020-11-09 21:45:00  0.003778  0.059769
2020-11-09 22:45:00  0.473120 -0.175123
2020-11-09 23:45:00  1.497419  1.378074

In [38]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00 -0.293822 -0.202651
2020-11-09 19:45:00  0.555641  0.750207
2020-11-09 20:45:00 -0.202457  0.699767

In [40]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

0.3066542255432107
0.3066542255432107

### Selecting by position

In [43]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.113929
B   -1.066297
C    0.301697
D    0.284133
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  0.113929 -1.066297
2020-11-09 18:45:00 -0.293822 -0.202651

In [44]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00  0.306654 -0.313075
2020-11-09 16:45:00 -1.117006 -0.814645
2020-11-09 18:45:00 -0.293822 -0.518168

In [45]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075 -0.680583
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -1.076337

                            B         C
2020-11-09 14:45:00 -0.282279  0.181719
2020-11-09 15:45:00 -0.928518 -0.313075
2020-11-09 16:45:00 -0.501348 -0.814645
2020-11-09 17:45:00 -1.066297  0.301697
2020-11-09 18:45:00 -0.202651 -0.518168
2020-11-09 19:45:00  0.750207  0.386017
2020-11-09 20:45:00  0.699767  0.226405
2020-11-09 21:45:00  0.059769 -1.146712
2020-11-09 22:45:00 -0.175123 -1.341153
2020-11-09 23:45:00  1.378074  1.485108

In [ ]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [46]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 19:45:00  0.555641  0.750207  0.386017 -2.282655
2020-11-09 20:45:00 -0.202457  0.699767  0.226405 -2.701367
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  0.288779
2020-11-09 23:45:00  1.497419  1.378074  1.485108 -1.272701

In [47]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00       NaN       NaN  0.181719       NaN
2020-11-09 15:45:00  0.306654       NaN       NaN       NaN
2020-11-09 16:45:00       NaN       NaN       NaN       NaN
2020-11-09 17:45:00  0.113929       NaN  0.301697  0.284133
2020-11-09 18:45:00       NaN       NaN       NaN       NaN
2020-11-09 19:45:00  0.555641  0.750207  0.386017       NaN
2020-11-09 20:45:00       NaN  0.699767  0.226405       NaN
2020-11-09 21:45:00  0.003778  0.059769       NaN  0.288779
2020-11-09 22:45:00  0.473120       NaN       NaN       NaN
2020-11-09 23:45:00  1.497419  1.378074  1.485108       NaN

### Setting

Combination of selection and setting of values

In [48]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [49]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)


#column wise operations
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)

df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.282279  0.181719  5  0.0        0  1.000000
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075  5  0.5        2  0.999962
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645  5  1.0        4  0.999848
2020-11-09 17:45:00  0.113929 -1.066297  0.301697  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168  5  2.0        8  0.999391
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.202457  0.699767  0.226405  5  3.0       12  0.998630
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  5  3.5       14  0.998135
2020-11-09 22:45:00  0.473120 -0.175123 -1.341153  5  4.0       16  0.997564
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5       18  0.996917

In [52]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2 #setting negative values for each positive value
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.282279 -0.181719 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -0.306654 -0.928518 -0.313075 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -0.113929 -1.066297 -0.301697 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -0.555641 -0.750207 -0.386017 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -0.202457 -0.699767 -0.226405 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.003778 -0.059769 -1.146712 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -0.473120 -0.175123 -1.341153 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -1.497419 -1.378074 -1.485108 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [54]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to

df.drop(columns=['E prime'])
#drop is just a copy not a view
#df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.282279  0.181719  5  0.0        0  1.000000
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075  5  0.5        2  0.999962
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645  5  1.0        4  0.999848
2020-11-09 17:45:00  0.113929 -1.066297  0.301697  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168  5  2.0        8  0.999391
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.202457  0.699767  0.226405  5  3.0       12  0.998630
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  5  3.5       14  0.998135
2020-11-09 22:45:00  0.473120 -0.175123 -1.341153  5  4.0       16  0.997564
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5       18  0.996917

In [55]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.282279  0.181719  5  0.0        0  1.000000
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.202457  0.699767  0.226405  5  3.0       12  0.998630
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  5  3.5       14  0.998135
2020-11-09 22:45:00  0.473120 -0.175123 -1.341153  5  4.0       16  0.997564
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5       18  0.996917

In [56]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.282279  0.181719  5  0.0        0  1.000000
2020-11-09 15:45:00  0.306654 -0.928518 -0.313075  5  0.5        2  0.999962
2020-11-09 16:45:00 -1.117006 -0.501348 -0.814645  5  1.0        4  0.999848
2020-11-09 17:45:00  0.113929 -1.066297  0.301697  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.293822 -0.202651 -0.518168  5  2.0        8  0.999391
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.202457  0.699767  0.226405  5  3.0       12  0.998630
2020-11-09 21:45:00  0.003778  0.059769 -1.146712  5  3.5       14  0.998135
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [57]:
df_wNan = df[df>0]
#selecting values >0, we will have NaN 
#everytime the condition is false
#it's NaN in the sens that is void
#NaN is floating point representation saturating exp mantissa and sign
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN       NaN  0.181719  5  NaN      NaN  1.000000
2020-11-09 15:45:00  0.306654       NaN       NaN  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN       NaN       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.113929       NaN  0.301697  5  1.5      6.0  0.999657
2020-11-09 18:45:00       NaN       NaN       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5     10.0  0.999048
2020-11-09 20:45:00       NaN  0.699767  0.226405  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.003778  0.059769       NaN  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.473120       NaN       NaN  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5     18.0  0.996917

In [58]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5     10.0  0.999048
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5     18.0  0.996917

In [59]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True   True  False  False   True     True   False
2020-11-09 15:45:00  False   True   True  False  False    False   False
2020-11-09 16:45:00   True   True   True  False  False    False   False
2020-11-09 17:45:00  False   True  False  False  False    False   False
2020-11-09 18:45:00   True   True   True  False  False    False   False
2020-11-09 19:45:00  False  False  False  False  False    False   False
2020-11-09 20:45:00   True  False  False  False  False    False   False
2020-11-09 21:45:00  False  False   True  False  False    False   False
2020-11-09 22:45:00  False   True   True  False  False    False   False
2020-11-09 23:45:00  False  False  False  False  False    False   False

In [60]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.000000  0.181719  5  0.0      0.0  1.000000
2020-11-09 15:45:00  0.306654  0.000000  0.000000  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.000000  0.000000  0.000000  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.113929  0.000000  0.301697  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.000000  0.000000  0.000000  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.000000  0.699767  0.226405  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.003778  0.059769  0.000000  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.473120  0.000000  0.000000  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [61]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN       NaN  0.181719  5  NaN      NaN  1.000000
2020-11-09 15:45:00  0.306654       NaN  0.181719  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.306654       NaN  0.181719  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.113929       NaN  0.301697  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.113929       NaN  0.301697  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.555641  0.750207  0.386017  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.555641  0.699767  0.226405  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.003778  0.059769  0.226405  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.473120  0.059769  0.226405  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.497419  1.378074  1.485108  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [62]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.133726
B         -0.026840
C         -0.155281
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.842777
2020-11-09 15:45:00    1.080718
2020-11-09 16:45:00    1.223836
2020-11-09 17:45:00    1.835570
2020-11-09 18:45:00    2.140678
2020-11-09 19:45:00    2.884416
2020-11-09 20:45:00    3.103192
2020-11-09 21:45:00    3.202138
2020-11-09 22:45:00    3.564916
2020-11-09 23:45:00    4.693931
Freq: H, dtype: float64

In [ ]:
# global operations on columns
df.apply(np.cumsum)

In [ ]:
df

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

Let's play it hard and load (in memory) a (relatively) large dataset

In [ ]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By group by we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method compresses a level in the DataFrames columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')