# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')      #ok for litteral labels
print (xs[['d', 'f', 'h']], '\n')      #Accessing multiple lines (making a subseries)
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [4]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [5]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [6]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a   -1.745555
b    0.556706
c   -0.012497
d   -1.175073
e    0.761013
dtype: float64
a         NaN
b    1.113413
c   -0.024994
d   -2.350146
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [7]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [10]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [11]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00    9.611179
2020-09-12 14:45:00    9.861989
2020-09-13 14:45:00    9.521204
2020-09-14 14:45:00    9.924311
Freq: D, dtype: float64

Series([], Freq: D, dtype: float64)

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [12]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [14]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df      # better formatting than just "print(df)"

                            A         B         C         D
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514
2020-11-09 15:45:00  1.314025 -1.310001  0.685583 -1.668348
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809 -0.190436
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  0.682710
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  0.627945
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  0.325486
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  1.406228
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  0.138042
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  0.052213
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  0.884122

or by means of a dictionary:

In [15]:
df2 = pd.DataFrame(
    { 'A' : 1.,    #no column dimension needed
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),    #useful for splitting data
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [16]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514
2020-11-09 15:45:00  1.314025 -1.310001  0.685583 -1.668348
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809 -0.190436
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  0.682710
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  0.627945

In [17]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  1.406228
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  0.138042
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  0.052213
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  0.884122

In [18]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
df.values

array([[ 1.23324693,  1.9393644 ,  0.69572053,  0.17751389],
       [ 1.31402515, -1.3100011 ,  0.68558281, -1.66834773],
       [-0.72361266, -0.64859462,  0.68680863, -0.19043613],
       [ 0.83381715,  0.02428109, -0.7359713 ,  0.68271029],
       [ 1.60114922, -0.63262015, -1.16926433,  0.62794493],
       [ 0.54711898,  0.39673332, -1.03741997,  0.32548637],
       [ 0.41896647, -0.98398839, -0.29065806,  1.40622822],
       [ 0.8845054 , -0.59869773,  0.4359721 ,  0.13804188],
       [ 2.12631802,  0.51607908, -1.1951011 ,  0.05221264],
       [ 0.54473856, -0.85058735,  0.33697761,  0.8841219 ]])

In [21]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.878027  -0.214803  -0.158735   0.243548
std     0.774308   0.960972   0.814810   0.816856
min    -0.723613  -1.310001  -1.195101  -1.668348
25%     0.545334  -0.800089  -0.962058   0.073670
50%     0.859161  -0.615659   0.023160   0.251500
75%     1.293831   0.303620   0.623180   0.669019
max     2.126318   1.939364   0.695721   1.406228

In [22]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,1.233247,1.314025,-0.723613,0.833817,1.601149,0.547119,0.418966,0.884505,2.126318,0.544739
B,1.939364,-1.310001,-0.648595,0.024281,-0.632620,0.396733,-0.983988,-0.598698,0.516079,-0.850587
C,0.695721,0.685583,0.686809,-0.735971,-1.169264,-1.037420,-0.290658,0.435972,-1.195101,0.336978
D,0.177514,-1.668348,-0.190436,0.682710,0.627945,0.325486,1.406228,0.138042,0.052213,0.884122

In [23]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00  0.177514  0.695721  1.939364  1.233247
2020-11-09 15:45:00 -1.668348  0.685583 -1.310001  1.314025
2020-11-09 16:45:00 -0.190436  0.686809 -0.648595 -0.723613
2020-11-09 17:45:00  0.682710 -0.735971  0.024281  0.833817
2020-11-09 18:45:00  0.627945 -1.169264 -0.632620  1.601149
2020-11-09 19:45:00  0.325486 -1.037420  0.396733  0.547119
2020-11-09 20:45:00  1.406228 -0.290658 -0.983988  0.418966
2020-11-09 21:45:00  0.138042  0.435972 -0.598698  0.884505
2020-11-09 22:45:00  0.052213 -1.195101  0.516079  2.126318
2020-11-09 23:45:00  0.884122  0.336978 -0.850587  0.544739

In [25]:
df.sort_values(by="C")  #?

                            A         B         C         D
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  0.052213
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  0.627945
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  0.325486
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  0.682710
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  1.406228
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  0.884122
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  0.138042
2020-11-09 15:45:00  1.314025 -1.310001  0.685583 -1.668348
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809 -0.190436
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [26]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00    1.233247
2020-11-09 15:45:00    1.314025
2020-11-09 16:45:00   -0.723613
2020-11-09 17:45:00    0.833817
2020-11-09 18:45:00    1.601149
2020-11-09 19:45:00    0.547119
2020-11-09 20:45:00    0.418966
2020-11-09 21:45:00    0.884505
2020-11-09 22:45:00    2.126318
2020-11-09 23:45:00    0.544739
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00    1.233247
2020-11-09 15:45:00    1.314025
2020-11-09 16:45:00   -0.723613
2020-11-09 17:45:00    0.833817
2020-11-09 18:45:00    1.601149
2020-11-09 19:45:00    0.547119
2020-11-09 20:45:00    0.418966
2020-11-09 21:45:00    0.884505
2020-11-09 22:45:00    2.126318
2020-11-09 23:45:00    0.544739
Freq: H, Name: A, dtype: float64

In [28]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"]) #notice: inclusive end

                            A         B         C         D
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514
2020-11-09 15:45:00  1.314025 -1.310001  0.685583 -1.668348
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809 -0.190436
                            A         B         C         D
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514
2020-11-09 15:45:00  1.314025 -1.310001  0.685583 -1.668348
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809 -0.190436

### Selection by label

In [30]:
# getting a cross section (part of the DataFrame) using a label (squared parentheses)
df.loc[dates[0]]

A    1.233247
B    1.939364
C    0.695721
D    0.177514
Name: 2020-11-09 14:45:00, dtype: float64

In [31]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00  1.233247  1.939364
2020-11-09 15:45:00  1.314025 -1.310001
2020-11-09 16:45:00 -0.723613 -0.648595
2020-11-09 17:45:00  0.833817  0.024281
2020-11-09 18:45:00  1.601149 -0.632620
2020-11-09 19:45:00  0.547119  0.396733
2020-11-09 20:45:00  0.418966 -0.983988
2020-11-09 21:45:00  0.884505 -0.598698
2020-11-09 22:45:00  2.126318  0.516079
2020-11-09 23:45:00  0.544739 -0.850587

In [32]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00  1.601149 -0.632620
2020-11-09 19:45:00  0.547119  0.396733
2020-11-09 20:45:00  0.418966 -0.983988

In [34]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])   #for a specific position in the table

1.314025145509522
1.314025145509522

### Selecting by position

In [35]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.833817
B    0.024281
C   -0.735971
D    0.682710
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  0.833817  0.024281
2020-11-09 18:45:00  1.601149 -0.632620

In [36]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00  1.314025  0.685583
2020-11-09 16:45:00 -0.723613  0.686809
2020-11-09 18:45:00  1.601149 -1.169264

In [37]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00  1.314025 -1.310001  0.685583 -1.668348
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809 -0.190436

                            B         C
2020-11-09 14:45:00  1.939364  0.695721
2020-11-09 15:45:00 -1.310001  0.685583
2020-11-09 16:45:00 -0.648595  0.686809
2020-11-09 17:45:00  0.024281 -0.735971
2020-11-09 18:45:00 -0.632620 -1.169264
2020-11-09 19:45:00  0.396733 -1.037420
2020-11-09 20:45:00 -0.983988 -0.290658
2020-11-09 21:45:00 -0.598698  0.435972
2020-11-09 22:45:00  0.516079 -1.195101
2020-11-09 23:45:00 -0.850587  0.336978

In [38]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-1.3100011013629869

**NOTICE**: log returns a copy, ilog returns a view

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [40]:
# Filter by a boolean condition on the values of a single column (useful for physical applic.)
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  0.682710
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  0.325486
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  0.052213

In [41]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00  1.233247  1.939364  0.695721  0.177514
2020-11-09 15:45:00  1.314025       NaN  0.685583       NaN
2020-11-09 16:45:00       NaN       NaN  0.686809       NaN
2020-11-09 17:45:00  0.833817  0.024281       NaN  0.682710
2020-11-09 18:45:00  1.601149       NaN       NaN  0.627945
2020-11-09 19:45:00  0.547119  0.396733       NaN  0.325486
2020-11-09 20:45:00  0.418966       NaN       NaN  1.406228
2020-11-09 21:45:00  0.884505       NaN  0.435972  0.138042
2020-11-09 22:45:00  2.126318  0.516079       NaN  0.052213
2020-11-09 23:45:00  0.544739       NaN  0.336978  0.884122

### Setting

Combination of selection and setting of values

In [42]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [43]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721  5  0.0        0  1.000000
2020-11-09 15:45:00  1.314025 -1.310001  0.685583  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809  5  1.0        4  0.999848
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  5  1.5        6  0.999657
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  5  2.0        8  0.999391
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  5  2.5       10  0.999048
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  5  3.0       12  0.998630
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  5  3.5       14  0.998135
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  5  4.0       16  0.997564
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  5  4.5       18  0.996917

In [44]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.939364 -0.695721 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -1.314025 -1.310001 -0.685583 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -0.723613 -0.648595 -0.686809 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -0.833817 -0.024281 -0.735971 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -1.601149 -0.632620 -1.169264 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -0.547119 -0.396733 -1.037420 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -0.418966 -0.983988 -0.290658 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.884505 -0.598698 -0.435972 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -2.126318 -0.516079 -1.195101 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -0.544739 -0.850587 -0.336978 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```
notice it doesn't affect the original df (it's a copy..)

In [45]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721  5  0.0  1.000000
2020-11-09 15:45:00  1.314025 -1.310001  0.685583  5  0.5  0.999962
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809  5  1.0  0.999848
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  5  1.5  0.999657
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  5  2.0  0.999391
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  5  2.5  0.999048
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  5  3.0  0.998630
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  5  3.5  0.998135
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  5  4.0  0.997564
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  5  4.5  0.996917

In [46]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721  5  0.0        0  1.000000
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  5  2.5       10  0.999048
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  5  3.0       12  0.998630
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  5  3.5       14  0.998135
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  5  4.0       16  0.997564
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  5  4.5       18  0.996917

In [47]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721  5  0.0        0  1.000000
2020-11-09 15:45:00  1.314025 -1.310001  0.685583  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809  5  1.0        4  0.999848
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  5  1.5        6  0.999657
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  5  2.0        8  0.999391
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  5  2.5       10  0.999048
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  5  3.0       12  0.998630
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  5  3.5       14  0.998135
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [48]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  1.939364  0.695721  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.314025       NaN  0.685583  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN       NaN  0.686809  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.833817  0.024281       NaN  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.601149       NaN       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.547119  0.396733       NaN  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.418966       NaN       NaN  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.884505       NaN  0.435972  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.126318  0.516079       NaN  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.544739       NaN  0.336978  5  4.5     18.0  0.996917

In [49]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [50]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True  False  False  False   True     True   False
2020-11-09 15:45:00  False   True  False  False  False    False   False
2020-11-09 16:45:00   True   True  False  False  False    False   False
2020-11-09 17:45:00  False  False   True  False  False    False   False
2020-11-09 18:45:00  False   True   True  False  False    False   False
2020-11-09 19:45:00  False  False   True  False  False    False   False
2020-11-09 20:45:00  False   True   True  False  False    False   False
2020-11-09 21:45:00  False   True  False  False  False    False   False
2020-11-09 22:45:00  False  False   True  False  False    False   False
2020-11-09 23:45:00  False   True  False  False  False    False   False

In [54]:
# filling missing data (dangerous)
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721  5  0.0      0.0  1.000000
2020-11-09 15:45:00  1.314025  0.000000  0.685583  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.000000  0.000000  0.686809  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.833817  0.024281  0.000000  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.601149  0.000000  0.000000  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.547119  0.396733  0.000000  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.418966  0.000000  0.000000  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.884505  0.000000  0.435972  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.126318  0.516079  0.000000  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.544739  0.000000  0.336978  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [55]:
df_wNan.fillna(method='pad')    #guess by fitting (dangerous)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  1.939364  0.695721  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.314025  1.939364  0.685583  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.314025  1.939364  0.686809  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.833817  0.024281  0.686809  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.601149  0.024281  0.686809  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.547119  0.396733  0.686809  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.418966  0.396733  0.686809  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.884505  0.396733  0.435972  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.126318  0.516079  0.435972  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.544739  0.516079  0.336978  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [56]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.754703
B         -0.214803
C         -0.158735
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    1.233584
2020-11-09 15:45:00    1.312796
2020-11-09 16:45:00    1.473493
2020-11-09 17:45:00    1.945969
2020-11-09 18:45:00    2.256951
2020-11-09 19:45:00    2.629354
2020-11-09 20:45:00    2.877564
2020-11-09 21:45:00    3.459988
2020-11-09 22:45:00    3.920694
2020-11-09 23:45:00    4.075435
Freq: H, dtype: float64

In [58]:
# global operations on columns
df.apply(np.cumsum)   #example: sum over column

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721   5   0.0        0  1.000000
2020-11-09 15:45:00  1.314025  0.629363  1.381303  10   0.5        2  1.999962
2020-11-09 16:45:00  0.590412 -0.019231  2.068112  15   1.5        6  2.999810
2020-11-09 17:45:00  1.424230  0.005050  1.332141  20   3.0       12  3.999467
2020-11-09 18:45:00  3.025379 -0.627570  0.162876  25   5.0       20  4.998858
2020-11-09 19:45:00  3.572498 -0.230837 -0.874544  30   7.5       30  5.997906
2020-11-09 20:45:00  3.991464 -1.214825 -1.165202  35  10.5       42  6.996536
2020-11-09 21:45:00  4.875970 -1.813523 -0.729230  40  14.0       56  7.994670
2020-11-09 22:45:00  7.002288 -1.297444 -1.924331  45  18.0       72  8.992234
2020-11-09 23:45:00  7.547026 -2.148031 -1.587353  50  22.5       90  9.989152

In [60]:
df    #(not affected: just a copy before)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  1.939364  0.695721  5  0.0        0  1.000000
2020-11-09 15:45:00  1.314025 -1.310001  0.685583  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.723613 -0.648595  0.686809  5  1.0        4  0.999848
2020-11-09 17:45:00  0.833817  0.024281 -0.735971  5  1.5        6  0.999657
2020-11-09 18:45:00  1.601149 -0.632620 -1.169264  5  2.0        8  0.999391
2020-11-09 19:45:00  0.547119  0.396733 -1.037420  5  2.5       10  0.999048
2020-11-09 20:45:00  0.418966 -0.983988 -0.290658  5  3.0       12  0.998630
2020-11-09 21:45:00  0.884505 -0.598698  0.435972  5  3.5       14  0.998135
2020-11-09 22:45:00  2.126318  0.516079 -1.195101  5  4.0       16  0.997564
2020-11-09 23:45:00  0.544739 -0.850587  0.336978  5  4.5       18  0.996917

In [62]:
df.apply(lambda x: x.max() - x.min())     #can be done for column only: default

A           2.849931
B           3.249366
C           1.890822
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [63]:
# syntax is as usual similar to that of numpy arrays (elementwise)
df['A']+df['B']

2020-11-09 14:45:00    1.939364
2020-11-09 15:45:00    0.004024
2020-11-09 16:45:00   -1.372207
2020-11-09 17:45:00    0.858098
2020-11-09 18:45:00    0.968529
2020-11-09 19:45:00    0.943852
2020-11-09 20:45:00   -0.565022
2020-11-09 21:45:00    0.285808
2020-11-09 22:45:00    2.642397
2020-11-09 23:45:00   -0.305849
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [67]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

--2020-11-09 16:05:06--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Risoluzione di www.dropbox.com (www.dropbox.com)... 162.125.67.1
Connessione a www.dropbox.com (www.dropbox.com)|162.125.67.1|:443... connesso.
Richiesta HTTP inviata, in attesa di risposta... 301 Moved Permanently
Posizione: /s/raw/xvjzaxzz3ysphme/data_000637.txt [segue]
--2020-11-09 16:05:06--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Riutilizzo della connessione esistente a www.dropbox.com:443.
Richiesta HTTP inviata, in attesa di risposta... 302 Found
Posizione: https://uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com/cd/0/inline/BC7uJuIVcUQMEMylVkJR5DTP98jjh5JTJE39qKpagGkZUEyP0ZqRNcfCUFuPwr_jhU6rtL1FSg3s5KYNf8PW4B91lulgiodLd-pmci9VMAQa0oERikUTlNxySM-Vtz3nQeo/file# [segue]
--2020-11-09 16:05:07--  https://uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com/cd/0/inline/BC7uJuIVcUQMEMylVkJR5DTP98jjh5JTJE39qKpagGkZUEyP0ZqRNcfCUFuPwr_jhU6rtL1FSg3s5KYNf8PW4B91lulgiodLd-pmci9VMAQa0oERikUTlNxySM-Vtz3nQeo/file
Risoluzione di uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com (uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com)... 162.125.67.15
Connessione a uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com (uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com)|162.125.67.15|:443... connesso.
Richiesta HTTP inviata, in attesa di risposta... 200 OK
Lunghezza: 33179236 (32M) [text/plain]
Salvataggio in: "/Users/ale/data/data_000637.txt"

data_000637.txt     100%[===================>]  31,64M  1,38MB/s    in 25s

2020-11-09 16:05:32 (1,28 MB/s) - "/Users/ale/data/data_000637.txt" salvato [33179236/33179236]

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [68]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25   #almost instant

In [69]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By group by we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method compresses a level in the DataFrames columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')