## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [5]:
import numpy as np
import pandas as pd

In [8]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt

--2020-11-14 16:35:58--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com... 162.125.69.1
Connecting to www.dropbox.com|162.125.69.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2020-11-14 16:35:58--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc5555bea0fa2503194bc9604889.dl.dropboxusercontent.com/cd/0/inline/BDPU102XN57sddYGDTRj4-7fV3MLC0b2aXcYcR3YGGbhOWmDpJzPfZiDibMR5Lj0YSCKlo-hpXx7OHlrDE35iJFa14zOPEP-mLLy7fyhRZ36ByBGZA8jxmLMqgsmTqAMeH0/file# [following]
--2020-11-14 16:35:59--  https://uc5555bea0fa2503194bc9604889.dl.dropboxusercontent.com/cd/0/inline/BDPU102XN57sddYGDTRj4-7fV3MLC0b2aXcYcR3YGGbhOWmDpJzPfZiDibMR5Lj0YSCKlo-hpXx7OHlrDE35iJFa14zOPEP-mLLy7fyhRZ36ByBGZA8jxmLMqgsmTqAMeH0/file
Resolving uc5555bea0fa2503194bc9604889.dl.dropboxusercontent.com... 162.125.69.15
Connecting to uc5555bea0fa2503194bc9604889.dl.dropboxusercontent.com|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: 'data_000637.txt'

data_000637.txt     100%[===================>]  31.64M   323KB/s    in 1m 43s

2020-11-14 16:37:44 (315 KB/s) - 'data_000637.txt' saved [33179236/33179236]

In [23]:
data = pd.read_csv("data_000637.txt")

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [25]:
N = 100000
perm = np.random.permutation(N)
randdata = data.loc[perm]
randdata

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
68299     1     0           54  3869200846        1815         1
17950     1     0           42  3869200346        3035         1
84951     1     0           57  3869201012         678        10
38191     1     1            1  3869200547        1626         8
11360     1     0          121  3869200280        3362        28
79439     1     0           51  3869200957        1691        14
11534     1     1            8  3869200282        1943        13
30362     1     1          139  3869200469        2068         0
18391     1     1            2  3869200351        3059        14
78667     1     1           10  3869200949        1459        13
77100     1     0           31  3869200933        3376        11
39089     1     0           95  3869200556         903        19
71229     1     0          120  3869200875        2020        14
89979     1     1            1  3869201062        1212        15
37491     1     0          115  3869200540        1422        28
29895     1     0           64  3869200465         758        25
22276     1     0           59  3869200389        1560         4
70519     1     0           60  3869200869         988        25
31829     1     0           53  3869200484        1245        13
8797      1     1           34  3869200254        2968        26
84203     1     1           26  3869201004        1336        18
88097     1     1            4  3869201043        1357         8
12347     1     1          102  3869200290        1237         3
24972     1     0           64  3869200416        1303         1
90202     1     0          100  3869201064         102         6
25838     1     0           18  3869200424        2122        13
62922     1     0            4  3869200793        1466         8
89890     1     1            6  3869201061        1932        17
70531     1     0           43  3869200869        1161         2
81678     1     1           35  3869200979        1772        24
...     ...   ...          ...         ...         ...       ...
31574     1     0           41  3869200481        3254         7
42466     1     0           49  3869200589        1341         0
91045     1     0           11  3869201072        1787        16
18878     1     0           45  3869200356        1551         3
81601     1     0           58  3869200978        2559        28
19383     1     0           63  3869200360        2418        17
31618     1     0           58  3869200482        1065        25
61484     1     0           91  3869200779         124        12
16062     1     0           56  3869200327        2966        21
16211     1     1           15  3869200328        2474         1
77184     1     1            8  3869200934        3078         5
29396     1     1           24  3869200460        2132         8
26189     1     1           33  3869200427        2921         0
82069     1     0           62  3869200983        2851        23
19129     1     0           59  3869200358         347        23
45015     1     0           57  3869200615         432        22
47038     1     0            8  3869200635         504         2
60942     1     0          123  3869200773        3024         7
29023     1     1            1  3869200456        2193        16
76604     1     0           78  3869200928        3533        12
63844     1     0           64  3869200802        1737         4
69454     1     0           59  3869200858         585        23
74062     1     0          123  3869200903        2437        23
70692     1     0           56  3869200870        3030         9
44380     1     0           59  3869200608        2856        20
7064      1     0          139  3869200237        3207         0
68668     1     0           31  3869200850        1589        19
8250      1     1            2  3869200249        2533        29
71115     1     0          124  3869200874         962        12
91213     1     0           48  3869201074         516         7

[100000 rows x 6 columns]

In [26]:
print(data.loc[27087,"BX_COUNTER"])

2531