## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [5]:
# If you didn't download it yet, please get the relevant file now!
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [1]:
#1. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset.
#Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv("data_000637.txt")

In [3]:
index = file.index
number_of_rows = len(index)

In [4]:
from random import seed
from random import randint
seed(1)
for _ in range(number_of_rows):
    N = randint(10000, number_of_rows)
    
df = file.head(N)
df

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
1          1     0          124  3869200167        2374        27
2          1     0           63  3869200167        2553        28
3          1     0           64  3869200167        2558        19
4          1     0           64  3869200167        2760        25
...      ...   ...          ...         ...         ...       ...
250180     1     1            4  3869202656        1017        23
250181     1     1            1  3869202656        1069         2
250182     1     1            2  3869202656        1071        17
250183     1     1           34  3869202656        1243        23
250184     1     1          139  3869202656        1257         0

[250185 rows x 6 columns]

In [5]:
#2. Find out the number of BX in a ORBIT (the value 'x').

In [6]:
X_value = df['BX_COUNTER'].max()+1
print(X_value)

3564

In [7]:
#3. Find out how much the data taking lasted. 
#You can either make an estimate based on the fraction of the measurements (rows)
#you read, or perform this check precisely by reading out the whole dataset.

In [8]:
print("The data taking lasted in", df["Absolute_time"].iat[-1]-df["Absolute_time"].iat[0], "ns")

KeyError: 'Absolute_time'

In [9]:
#4. Create a new column with the absolute time in ns 
#(as a combination of the other three columns with timing information).

In [10]:

df["Absolute_time"] = df["ORBIT_CNT"]*3564*25*10**(-9) + df["BX_COUNTER"]*25*10**(-9) + df["TDC_MEAS"]*25/30*10**(-9) 

df.head()

<ipython-input-10-0dd9c569b718>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Absolute_time"] = df["ORBIT_CNT"]*3564*25*10**(-9) + df["BX_COUNTER"]*25*10**(-9) + df["TDC_MEAS"]*25/30*10**(-9)

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS  Absolute_time
0     1     0          123  3869200167        2374        26  344745.734939
1     1     0          124  3869200167        2374        27  344745.734939
2     1     0           63  3869200167        2553        28  344745.734944
3     1     0           64  3869200167        2558        19  344745.734944
4     1     0           64  3869200167        2760        25  344745.734949

In [11]:
#5. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

In [12]:

df['HEAD'] = np.random.choice([0,1],size=(len(df['HEAD'])))
df

<ipython-input-12-e8b7d989133e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HEAD'] = np.random.choice([0,1],size=(len(df['HEAD'])))

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,Absolute_time
0,1,0,123,3869200167,2374,26,344745.734939
1,1,0,124,3869200167,2374,27,344745.734939
2,0,0,63,3869200167,2553,28,344745.734944
3,1,0,64,3869200167,2558,19,344745.734944
4,1,0,64,3869200167,2760,25,344745.734949
...,...,...,...,...,...,...,...
250180,1,1,4,3869202656,1017,23,344745.956675
250181,1,1,1,3869202656,1069,2,344745.956676
250182,1,1,2,3869202656,1071,17,344745.956676
250183,0,1,34,3869202656,1243,23,344745.956681
250184,1,1,139,3869202656,1257,0,344745.956681

In [13]:
#6. Create a new DataFrame that contains only the rows with HEAD=1.

In [14]:
a = df[df['HEAD'] == 1]
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125208 entries, 0 to 250184
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   HEAD           125208 non-null  int32
 1   FPGA           125208 non-null  int64
 2   TDC_CHANNEL    125208 non-null  int64
 3   ORBIT_CNT      125208 non-null  int64
 4   BX_COUNTER     125208 non-null  int64
 5   TDC_MEAS       125208 non-null  int64
 6   Absolute_time  125208 non-null  float64
dtypes: float64(1), int32(1), int64(5)
memory usage: 7.2 MB

In [24]:
#7. Make two occupancy plots (one for each FPGA),
#i.e. plot the number of counts per TDC channel

In [25]:
import matplotlib.pyplot as plt

df.plot(kind='scatter',x='TDC_MEAS',y='FPGA',color='red', ax=ax)
plt.show()

In [ ]:
#8. Use the groupby method to find out the noisy channels,
#i.e. the TDC channels with most counts (say the top 3)

In [15]:
x = df.groupby('TDC_CHANNEL')
noisy_channels = x.size().sort_values(ascending = False)
noisy_channels[:3]

TDC_CHANNEL
139    20821
64     12443
63     12194
dtype: int64

In [16]:
#9. Count the number of unique orbits. 
#Count the number of unique orbits with 
#at least one measurement from TDC_CHANNEL=139

In [17]:
counts = df['ORBIT_CNT'].size
orbits = df[df['TDC_CHANNEL'] == 139]['ORBIT_CNT'].unique().size

print("There are", counts, "unit orbits")
print("There are", orbits, "from TSC_CHANNEL = 139")

There are 250185 unit orbits
There are 2483 from TSC_CHANNEL = 139