# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [3]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a   -0.031226
b    1.476452
c    0.449779
d   -1.748810
e   -2.058912
dtype: float64
a         NaN
b    2.952904
c    0.899558
d   -3.497620
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [4]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-14
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [13]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [15]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-9-11':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00    11.467934
2020-09-12 14:45:00    10.870849
2020-09-13 14:45:00     9.729155
2020-09-14 14:45:00    10.450606
Freq: D, dtype: float64

2020-09-11 14:45:00    11.467934
2020-09-12 14:45:00    10.870849
2020-09-13 14:45:00     9.729155
2020-09-14 14:45:00    10.450606
2020-09-15 14:45:00    11.644317
2020-09-16 14:45:00    11.418473
2020-09-17 14:45:00    12.012553
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [16]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [5]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2020-11-09 14:45:00 -1.506871 -0.070660  0.244426  0.304958
2020-11-09 15:45:00 -0.621287  0.319224  1.054339 -2.162325
2020-11-09 16:45:00 -0.306904  0.526743  0.912932  0.561229
2020-11-09 17:45:00  0.322092 -0.806109  0.133703 -0.803893
2020-11-09 18:45:00 -0.840765 -0.441135  0.113223 -0.250786
2020-11-09 19:45:00 -0.597688  1.234663 -0.579476  0.447045
2020-11-09 20:45:00  1.697386  0.114363  0.535038 -0.120407
2020-11-09 21:45:00  0.475338  1.975175 -0.133902 -0.219472
2020-11-09 22:45:00  1.087983 -0.350937 -0.345168  0.691863
2020-11-09 23:45:00  0.466976 -0.145367 -0.820518 -0.070321

or by means of a dictionary:

In [6]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [7]:
df.head(2)

                            A         B         C         D
2020-11-09 14:45:00 -1.506871 -0.070660  0.244426  0.304958
2020-11-09 15:45:00 -0.621287  0.319224  1.054339 -2.162325

In [8]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00  1.697386  0.114363  0.535038 -0.120407
2020-11-09 21:45:00  0.475338  1.975175 -0.133902 -0.219472
2020-11-09 22:45:00  1.087983 -0.350937 -0.345168  0.691863
2020-11-09 23:45:00  0.466976 -0.145367 -0.820518 -0.070321

In [9]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.values

array([[-1.50687096, -0.07065984,  0.24442604,  0.3049579 ],
       [-0.62128666,  0.31922401,  1.05433862, -2.16232504],
       [-0.30690437,  0.52674266,  0.91293181,  0.56122901],
       [ 0.32209157, -0.80610894,  0.13370314, -0.80389343],
       [-0.84076489, -0.44113549,  0.11322328, -0.25078603],
       [-0.59768785,  1.23466341, -0.57947575,  0.44704538],
       [ 1.69738568,  0.11436335,  0.53503812, -0.12040734],
       [ 0.47533777,  1.97517467, -0.13390205, -0.21947239],
       [ 1.08798326, -0.35093699, -0.34516751,  0.69186262],
       [ 0.46697639, -0.14536695, -0.82051845, -0.07032144]])

In [12]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.017626   0.235596   0.111460  -0.162211
std     0.967496   0.833786   0.609523   0.835050
min    -1.506871  -0.806109  -0.820518  -2.162325
25%    -0.615387  -0.299544  -0.292351  -0.242958
50%     0.007594   0.021852   0.123463  -0.095364
75%     0.473247   0.474863   0.462385   0.411524
max     1.697386   1.975175   1.054339   0.691863

In [13]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,-1.506871,-0.621287,-0.306904,0.322092,-0.840765,-0.597688,1.697386,0.475338,1.087983,0.466976
B,-0.070660,0.319224,0.526743,-0.806109,-0.441135,1.234663,0.114363,1.975175,-0.350937,-0.145367
C,0.244426,1.054339,0.912932,0.133703,0.113223,-0.579476,0.535038,-0.133902,-0.345168,-0.820518
D,0.304958,-2.162325,0.561229,-0.803893,-0.250786,0.447045,-0.120407,-0.219472,0.691863,-0.070321

In [25]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00  0.304958  0.244426 -0.070660 -1.506871
2020-11-09 15:45:00 -2.162325  1.054339  0.319224 -0.621287
2020-11-09 16:45:00  0.561229  0.912932  0.526743 -0.306904
2020-11-09 17:45:00 -0.803893  0.133703 -0.806109  0.322092
2020-11-09 18:45:00 -0.250786  0.113223 -0.441135 -0.840765
2020-11-09 19:45:00  0.447045 -0.579476  1.234663 -0.597688
2020-11-09 20:45:00 -0.120407  0.535038  0.114363  1.697386
2020-11-09 21:45:00 -0.219472 -0.133902  1.975175  0.475338
2020-11-09 22:45:00  0.691863 -0.345168 -0.350937  1.087983
2020-11-09 23:45:00 -0.070321 -0.820518 -0.145367  0.466976

In [28]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  0.055280
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176 -0.653786
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  0.613445
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  0.073010
2020-11-09 14:45:00 -0.289615  0.092392  0.016491  0.377073
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  0.869749
2020-11-09 18:45:00 -0.142798 -1.531724  0.628306 -0.404921
2020-11-09 23:45:00  1.937120 -1.244881  0.838765 -0.598673
2020-11-09 16:45:00  1.331603  1.033331  0.888289  0.509745
2020-11-09 15:45:00  1.109820  0.322345  1.191852  1.176413

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [27]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00   -1.506871
2020-11-09 15:45:00   -0.621287
2020-11-09 16:45:00   -0.306904
2020-11-09 17:45:00    0.322092
2020-11-09 18:45:00   -0.840765
2020-11-09 19:45:00   -0.597688
2020-11-09 20:45:00    1.697386
2020-11-09 21:45:00    0.475338
2020-11-09 22:45:00    1.087983
2020-11-09 23:45:00    0.466976
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00   -1.506871
2020-11-09 15:45:00   -0.621287
2020-11-09 16:45:00   -0.306904
2020-11-09 17:45:00    0.322092
2020-11-09 18:45:00   -0.840765
2020-11-09 19:45:00   -0.597688
2020-11-09 20:45:00    1.697386
2020-11-09 21:45:00    0.475338
2020-11-09 22:45:00    1.087983
2020-11-09 23:45:00    0.466976
Freq: H, Name: A, dtype: float64

In [28]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00 -1.506871 -0.070660  0.244426  0.304958
2020-11-09 15:45:00 -0.621287  0.319224  1.054339 -2.162325
2020-11-09 16:45:00 -0.306904  0.526743  0.912932  0.561229
                            A         B         C         D
2020-11-09 14:45:00 -1.506871 -0.070660  0.244426  0.304958
2020-11-09 15:45:00 -0.621287  0.319224  1.054339 -2.162325
2020-11-09 16:45:00 -0.306904  0.526743  0.912932  0.561229

### Selection by label

In [29]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -1.506871
B   -0.070660
C    0.244426
D    0.304958
Name: 2020-11-09 14:45:00, dtype: float64

In [37]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00 -0.289615  0.092392
2020-11-09 15:45:00  1.109820  0.322345
2020-11-09 16:45:00  1.331603  1.033331
2020-11-09 17:45:00  2.232818  0.868361
2020-11-09 18:45:00 -0.142798 -1.531724
2020-11-09 19:45:00 -0.484632 -0.887011
2020-11-09 20:45:00 -0.800991 -0.092105
2020-11-09 21:45:00 -0.350264  0.469820
2020-11-09 22:45:00 -0.207212  1.766691
2020-11-09 23:45:00  1.937120 -1.244881

In [41]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00 -0.142798 -1.531724
2020-11-09 19:45:00 -0.484632 -0.887011
2020-11-09 20:45:00 -0.800991 -0.092105

In [42]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

1.1098202803213753
1.1098202803213753

### Selecting by position

In [44]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    2.232818
B    0.868361
C   -0.501061
D    0.073010
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  2.232818  0.868361
2020-11-09 18:45:00 -0.142798 -1.531724

In [45]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00  1.109820  1.191852
2020-11-09 16:45:00  1.331603  0.888289
2020-11-09 18:45:00 -0.142798  0.628306

In [46]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00  1.109820  0.322345  1.191852  1.176413
2020-11-09 16:45:00  1.331603  1.033331  0.888289  0.509745

                            B         C
2020-11-09 14:45:00  0.092392  0.016491
2020-11-09 15:45:00  0.322345  1.191852
2020-11-09 16:45:00  1.033331  0.888289
2020-11-09 17:45:00  0.868361 -0.501061
2020-11-09 18:45:00 -1.531724  0.628306
2020-11-09 19:45:00 -0.887011 -0.731823
2020-11-09 20:45:00 -0.092105  0.332445
2020-11-09 21:45:00  0.469820 -2.384792
2020-11-09 22:45:00  1.766691 -2.155176
2020-11-09 23:45:00 -1.244881  0.838765

In [47]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.32234454370522553

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [52]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 14:45:00 -0.289615  0.092392  0.016491  0.377073
2020-11-09 15:45:00  1.109820  0.322345  1.191852  1.176413
2020-11-09 16:45:00  1.331603  1.033331  0.888289  0.509745
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  0.073010
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  0.055280
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176 -0.653786

In [53]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00       NaN  0.092392  0.016491  0.377073
2020-11-09 15:45:00  1.109820  0.322345  1.191852  1.176413
2020-11-09 16:45:00  1.331603  1.033331  0.888289  0.509745
2020-11-09 17:45:00  2.232818  0.868361       NaN  0.073010
2020-11-09 18:45:00       NaN       NaN  0.628306       NaN
2020-11-09 19:45:00       NaN       NaN       NaN  0.613445
2020-11-09 20:45:00       NaN       NaN  0.332445  0.869749
2020-11-09 21:45:00       NaN  0.469820       NaN  0.055280
2020-11-09 22:45:00       NaN  1.766691       NaN       NaN
2020-11-09 23:45:00  1.937120       NaN  0.838765       NaN

### Setting

Combination of selection and setting of values

In [55]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

                            A         B         C  D    E  E prime
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0        0
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5        2
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0        4
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  5  1.5        6
2020-11-09 18:45:00 -0.142798 -1.531724  0.628306  5  2.0        8
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  5  2.5       10
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  5  3.0       12
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  5  3.5       14
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176  5  4.0       16
2020-11-09 23:45:00  1.937120 -1.244881  0.838765  5  4.5       18

In [56]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0        0  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5        2  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0        4  0.999848
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.142798 -1.531724  0.628306  5  2.0        8  0.999391
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176  5  4.0       16  0.997564
2020-11-09 23:45:00  1.937120 -1.244881  0.838765  5  4.5       18  0.996917

In [57]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.092392 -0.016491 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -1.109820 -0.322345 -1.191852 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -1.331603 -1.033331 -0.888289 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -2.232818 -0.868361 -0.501061 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -0.142798 -1.531724 -0.628306 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -0.800991 -0.092105 -0.332445 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.350264 -0.469820 -2.384792 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -0.207212 -1.766691 -2.155176 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -1.937120 -1.244881 -0.838765 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [58]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0  0.999848
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  5  1.5  0.999657
2020-11-09 18:45:00 -0.142798 -1.531724  0.628306  5  2.0  0.999391
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  5  2.5  0.999048
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  5  3.0  0.998630
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  5  3.5  0.998135
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176  5  4.0  0.997564
2020-11-09 23:45:00  1.937120 -1.244881  0.838765  5  4.5  0.996917

In [59]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0        0  1.000000
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176  5  4.0       16  0.997564
2020-11-09 23:45:00  1.937120 -1.244881  0.838765  5  4.5       18  0.996917

In [62]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0        0  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5        2  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0        4  0.999848
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.142798 -1.531724  0.628306  5  2.0        8  0.999391
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  5  3.5       14  0.998135
2020-11-09 23:45:00  1.937120 -1.244881  0.838765  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [63]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.092392  0.016491  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0      4.0  0.999848
2020-11-09 17:45:00  2.232818  0.868361       NaN  5  1.5      6.0  0.999657
2020-11-09 18:45:00       NaN       NaN  0.628306  5  2.0      8.0  0.999391
2020-11-09 19:45:00       NaN       NaN       NaN  5  2.5     10.0  0.999048
2020-11-09 20:45:00       NaN       NaN  0.332445  5  3.0     12.0  0.998630
2020-11-09 21:45:00       NaN  0.469820       NaN  5  3.5     14.0  0.998135
2020-11-09 22:45:00       NaN  1.766691       NaN  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.937120       NaN  0.838765  5  4.5     18.0  0.996917

In [64]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0      4.0  0.999848

In [65]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True  False  False  False   True     True   False
2020-11-09 15:45:00  False  False  False  False  False    False   False
2020-11-09 16:45:00  False  False  False  False  False    False   False
2020-11-09 17:45:00  False  False   True  False  False    False   False
2020-11-09 18:45:00   True   True  False  False  False    False   False
2020-11-09 19:45:00   True   True   True  False  False    False   False
2020-11-09 20:45:00   True   True  False  False  False    False   False
2020-11-09 21:45:00   True  False   True  False  False    False   False
2020-11-09 22:45:00   True  False   True  False  False    False   False
2020-11-09 23:45:00  False   True  False  False  False    False   False

In [66]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0      0.0  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0      4.0  0.999848
2020-11-09 17:45:00  2.232818  0.868361  0.000000  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.000000  0.000000  0.628306  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.000000  0.000000  0.000000  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.000000  0.000000  0.332445  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.000000  0.469820  0.000000  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.000000  1.766691  0.000000  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.937120  0.000000  0.838765  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [67]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.092392  0.016491  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0      4.0  0.999848
2020-11-09 17:45:00  2.232818  0.868361  0.888289  5  1.5      6.0  0.999657
2020-11-09 18:45:00  2.232818  0.868361  0.628306  5  2.0      8.0  0.999391
2020-11-09 19:45:00  2.232818  0.868361  0.628306  5  2.5     10.0  0.999048
2020-11-09 20:45:00  2.232818  0.868361  0.332445  5  3.0     12.0  0.998630
2020-11-09 21:45:00  2.232818  0.469820  0.332445  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.232818  1.766691  0.332445  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.937120  1.766691  0.838765  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [68]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.462546
B          0.079722
C         -0.187670
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.872698
2020-11-09 15:45:00    1.589140
2020-11-09 16:45:00    2.036153
2020-11-09 17:45:00    2.299968
2020-11-09 18:45:00    2.136168
2020-11-09 19:45:00    2.342226
2020-11-09 20:45:00    2.919711
2020-11-09 21:45:00    3.033271
2020-11-09 22:45:00    3.628838
2020-11-09 23:45:00    4.289703
Freq: H, dtype: float64

In [69]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491   5   0.0        0  1.000000
2020-11-09 15:45:00  1.109820  0.414736  1.208343  10   0.5        2  1.999962
2020-11-09 16:45:00  2.441423  1.448067  2.096632  15   1.5        6  2.999810
2020-11-09 17:45:00  4.674242  2.316428  1.595572  20   3.0       12  3.999467
2020-11-09 18:45:00  4.531444  0.784704  2.223878  25   5.0       20  4.998858
2020-11-09 19:45:00  4.046812 -0.102307  1.492055  30   7.5       30  5.997906
2020-11-09 20:45:00  3.245821 -0.194412  1.824500  35  10.5       42  6.996536
2020-11-09 21:45:00  2.895557  0.275408 -0.560292  40  14.0       56  7.994670
2020-11-09 22:45:00  2.688345  2.042099 -2.715468  45  18.0       72  8.992234
2020-11-09 23:45:00  4.625464  0.797218 -1.876703  50  22.5       90  9.989152

In [70]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.092392  0.016491  5  0.0        0  1.000000
2020-11-09 15:45:00  1.109820  0.322345  1.191852  5  0.5        2  0.999962
2020-11-09 16:45:00  1.331603  1.033331  0.888289  5  1.0        4  0.999848
2020-11-09 17:45:00  2.232818  0.868361 -0.501061  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.142798 -1.531724  0.628306  5  2.0        8  0.999391
2020-11-09 19:45:00 -0.484632 -0.887011 -0.731823  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.800991 -0.092105  0.332445  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.350264  0.469820 -2.384792  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.207212  1.766691 -2.155176  5  4.0       16  0.997564
2020-11-09 23:45:00  1.937120 -1.244881  0.838765  5  4.5       18  0.996917

In [71]:
df.apply(lambda x: x.max() - x.min())

A           3.033809
B           3.298415
C           3.576645
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [72]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00    0.092392
2020-11-09 15:45:00    1.432165
2020-11-09 16:45:00    2.364934
2020-11-09 17:45:00    3.101179
2020-11-09 18:45:00   -1.674522
2020-11-09 19:45:00   -1.371643
2020-11-09 20:45:00   -0.893096
2020-11-09 21:45:00    0.119556
2020-11-09 22:45:00    1.559479
2020-11-09 23:45:00    0.692238
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [73]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/


file_name="/data/data_000637.txt"
data=pd.read_csv(file_name)
data

--2020-11-09 15:59:35--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com... 162.125.69.1
Connecting to www.dropbox.com|162.125.69.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2020-11-09 15:59:36--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com/cd/0/inline/BC7GLc7Lx3nzg7zER_eY01aWYfhgN_7v-khpNSlmS0FQYFRpCkPZUi5bv75QuXSFONF-GatRtOYDZd0CEBMNAgTmcIpXt-QrDpk8pI8-biB7KZO8AnPoQeBP8jUwPvsmGEw/file# [following]
--2020-11-09 15:59:36--  https://uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com/cd/0/inline/BC7GLc7Lx3nzg7zER_eY01aWYfhgN_7v-khpNSlmS0FQYFRpCkPZUi5bv75QuXSFONF-GatRtOYDZd0CEBMNAgTmcIpXt-QrDpk8pI8-biB7KZO8AnPoQeBP8jUwPvsmGEw/file
Resolving uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com... 162.125.69.15
Connecting to uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: '/Users/mattiaceravolo/data/data_000637.txt.1'

data_000637.txt.1   100%[===================>]  31.64M   288KB/s    in 1m 54s

2020-11-09 16:01:31 (285 KB/s) - '/Users/mattiaceravolo/data/data_000637.txt.1' saved [33179236/33179236]

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xdb in position 0: invalid continuation byte

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By group by we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method compresses a level in the DataFrames columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')